/******************************
   RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************
NOT RESET
**********************/

*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

header{
    background-color: #F6DF9F;
}

.logo{
    color: #FFF;
    font-family: "Zrnic Rg";
    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 1px 1px 0 #BDBDBD;
    padding-top: 25px;
    padding-left: 17px;
}

.h_title{
    color: #52AAA8;
}


  .h_main_text{
    color: #4F6886;
    font-family: "Poppins SemiBold";
    font-size: 22px;
    line-height: 29px;
    margin-top: 33px;
    margin-left: 31px;
    margin-right: 25px;

  }

.h_div_img{
    display: flex;
    justify-content: center;
}

  .h_img{
      margin-top: 14px;
      margin-bottom: 9px;
  }

  .m_pour_demarrer{
      margin-bottom: 2rem;
}

  .m_div_categories{
      background-color: #52AAA8;
      border-radius: 5px;
      margin-top: 1.5rem;
      margin-left: 3%;
      margin-right: 3%;
      color: white;
      padding: 9px 0px;
      padding-left: 25px;
    
  }

  .m_card{
    border-radius: 4px;
    background-color: #F2F2F2;
    box-shadow: 0 2px 3px 0 #828282;
    margin-bottom: 1.4rem;
  }

  .m_card h1{
      text-align: center;
  }

  .m_card div{
      display: flex;
      justify-content: center;
  }



/*************Footer **********/

footer{
    height: 7rem;
    background-color: #F6DF9F;
}